body {
    background-color:rgba(0, 0, 0, 0.199);
    line-height: 0.9;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}

#spnMensagem{
    margin-left: 45%;
    position: relative; top: 50px;
}

#winningMessage{
    margin-left: 44%;
    position: relative; top: 50px;
}

#esquerda{
    margin-top: 10px;
    margin-left: 42%;
    background-color: rgb(180, 180, 180);
}

#first{
    background-color: rgb(167, 167, 167);
    color: rgb(61, 61, 61);
    border-color: rgb(134, 134, 134);  
    width: 150px;
}

#second{
    margin-top: 10px;
    color: rgb(61, 61, 61);
    border-color: rgb(134, 134, 134);
    background-color: rgb(167, 167, 167);
}

#container {
    width: 320px;
    height: 320px;
    margin:  auto;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.070);
    display: block;
}
/*#container h1 {
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    margin-bottom: 200px;
} */
.q {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    font-size: 100px;
}
.q:hover {
    background-color: rgb(167, 167, 167);
}

#q0, #q1, #q2, #q3, #q4, #q5 {
    border-bottom: 10px solid black;
}
#q2, #q5, #q8, #q1, #q4, #q7 {
    border-left: 10px solid black;
}

.footer {
    padding-top: 50px;
    text-align: center;
}

#footer {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    margin-top: 3.5%;
    background-color: rgb(182, 182, 182);
}

.q.Winner{
    color: green
}






















